*{
    list-style:none;
    margin:0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    max-width: 1250px;
    margin:0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.header{
    margin:13px auto 15px;
    padding: 21px 95px;

}
.header-nav>ul{
    list-style-type: none;
}
.header_ul{
  display: flex;
  gap :62px;
}
.header-nav>ul>li{
  margin:0 27px;
}
  .header-nav>ul>li>a {
       font-size: 14px;
       line-height: 14px;
       color: #1c1c1c;
       text-decoration: none;
       
  }
  .btn{
    height: 40px;
    Width: 157px;
    background: #6F2CFF;
    border-radius: 20px;
    border:none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
  }
  .btn:hover{
    background: #7d53d6;
    color: #25046d;
    transition:2s;
  }
  .main{
    background-color: #F6BED9;
    padding: 21px 95px;
  }
  .main_title{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
  }
  .main_title-violet{
    color:#6F2CFF;
  }
  .main_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 430px;
    margin: 18px 0;
  }
  .main_text-bold{
    font-weight: bold;
  }
  .main_input{
    width: 268px;
    height: 45px;
    border: 1px solid #6F2CFF;
    border-radius: 28px 28px 28px 27.5px;
    padding-left: 26px;
  }
  .main_input::placeholder{
    
    height: 21px;
    left: 8.4%;
    right: 83.61%;
    top: calc(50% - 21px/2 - 521px);
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
    height: 21px;

  }
  .main_input:focus{
    outline: none;
  }
  .main-btn{
    height: 45px;
    width: 184px;
  }

.content{
  padding: 136px 95px;
}

.content_h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
max-width: 420px;

}

.content_img_text{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 39px;
  box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
border-radius: 0px 0px 7px 7px;
}
.content_h3{
  margin: 30px;
  font-weight: bold;
}
.content_txt{
  font-weight: 400;
  max-width: 220px;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #6F2CFF;
padding-bottom: 82px;
}
.info{
  padding: 136px 95px;
}
.info_h1{
  text-align: center;
  font-weight: 700;
font-size: 40px;
line-height: 45px;
margin-bottom: 81px;

}
.info_div{
  text-align: center;

 
}
.info_div>img{

  height:50px;
}
.info_div>h4{
  font-weight: 700;
font-size: 19px;
line-height: 23px;
margin-top 30px;
margin-bottom: 16px;
}
.info_div>p{
  font-weight: 400;
font-size: 15px;
line-height: 22px;
max-width: 360px;
}

  .footer{
   
    background: #20003C;
    padding: 67px 95px;
  }
  .footer_nav>ul>li>a {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}
.footer_nav>ul{
    list-style-type: none;
}
.footer_ul{
  display: flex;
  gap :62px;
}
.footer_nav>ul>li{
  margin:0 27px;
}
 